<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Logga in</h1><br>
        <form action="/login" method="POST" class="was-validated">
            <div class="form-group">
                <input type="email" class="form-control" name="inputEmail" id="inputEmail" aria-describedby="emailHelp" placeholder="Skriv din skolmail här" required>
                <small id="emailHelp" class="form-text text-muted">Vi delar inte ut dina uppgifter till andra.</small>
            </div>
            <button type="submit" class="btn btn-primary">Bekräfta</button>
        </form>
    </div>
</div>
