<ul class="nav nav-tabs" id="overviewTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="true">Karta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="devices-tab" data-toggle="tab" href="#devices" role="tab" aria-controls="devices" aria-selected="false">Enheter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="unregistered-tab" data-toggle="tab" href="#unregistered" role="tab" aria-controls="unregistered" aria-selected="false">Ej registrerade</a>
    </li>
</ul>
<div class="tab-content" id="overviewTabContent">
    <div class="tab-pane fade show active" id="map" role="tabpanel" aria-labelledby="map-tab">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <!-- Map -->
                <div class="row">
                    <div class="dropdown mr-2 ml-3">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Karta
                        </button>
                        <div id="mapsDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sensor
                        </button>
                        <div id="sensorDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                    </div>
                </div>
                <br>
                <img id="mapImg" class="map" src="" alt="Can't load map" width="100%">
                <ul id="mapImgDevices"></ul>
                <form>
                    <div class="form-group">
                        <label for="inputMin col-sm-2">Minimum</label>
                        <input required type="number" class="form-control col-sm-4" id="inputMin">
                    </div>
                    <div class="form-group">
                        <label for="inputMax col-sm-2">Maximum</label>
                        <input required type="number" class="form-control col-sm-4" id="inputMax">
                    </div>
                    <button id="setMaxMinButton" type="button" class="btn btn-primary" onclick="setMaxMin()">Uppdatera</button>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="devices" role="tabpanel" aria-labelledby="devices-tab">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {{#if devices}}
                <table id="dtRegistered" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Namn</th>
                            <th class="th-sm">Ägare</th>
                            <th class="th-sm">MAC-adress</th>
                            <th class="th-sm">Redigera</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each devices}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{owner}}</td>
                            <td>{{macAddress}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="openDevice('{{macAddress}}')">
                                    Redigera
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="th-sm">Namn</th>
                            <th class="th-sm">Ägare</th>
                            <th class="th-sm">MAC-adress</th>
                            <th class="th-sm">Redigera</th>
                        </tr>
                    </tfoot>
                </table>
                {{else}}
                Vi kunde inte hitta någon registrerad enhet.
                {{/if}}
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="unregistered" role="tabpanel" aria-labelledby="unregistered-tab">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {{#if unregistered}}
                <table id="dtUnregistered" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">MAC-adress</th>
                            <th class="th-sm">Registrera</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each unregistered}}
                        <tr>
                            <td>{{macAddress}}</td>
                            <td>
                                <button type="button" class="btn btn-primary registerModalButton" onclick="openUnregisteredDevice('{{macAddress}}')">
                                    Registrera
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="th-sm">MAC-adress</th>
                            <th class="th-sm">Registrera</th>
                        </tr>
                    </tfoot>
                </table>
                {{else}}
                Vi kunde inte hitta någon oregistrerad enhet.
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="deviceModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deviceModalCenterTitle">Redigera enhet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editModalForm" class="was-validated">
                    <div class="form-group">
                        <label for="deviceModalMac">MAC-adress</label>
                        <input readonly type="text" class="form-control" id="deviceModalMac" placeholder="MAC-adress">
                    </div>
                    <div class="form-group">
                        <label for="deviceModalOwnerInput">Enhetens ägare</label>
                        <input required type="text" class="form-control" id="deviceModalOwnerInput" placeholder="Ägare">
                    </div>
                    <div class="form-group">
                        <label for="deviceModalNameInput">Enhetens namn</label>
                        <input required type="text" class="form-control" id="deviceModalNameInput" placeholder="Enhetsnamn">
                    </div>
                    <div class="form-group">
                        <label for="deviceModalIntervalInput">Tid mellan skickad data</label>
                        <div class="input-group">
                            <input required type="number" class="form-control" id="deviceModalIntervalInput" placeholder="Tid mellan skickad data" aria-label="Text input with dropdown button" step="0.1" min="0.1">
                            <div class="input-group-append" id="deviceModalIntervalInput">
                                <button id="updateIntervalDropdownButton" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div id="updateIntervalDropdown" class="dropdown-menu">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <h5>Mätdata</h5>
                <div class="container">
                    <div class="row">
                        <div class="dropdown mr-2">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sensor
                            </button>
                            <div id="deviceModalSensorDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                        </div>
                        <button class="btn btn-primary" type="button" id="deviceModalExportCsv">
                            Exportera till .csv
                        </button>
                    </div>
                </div>
                <canvas id="chartScatter" width="100%" height="50px"></canvas>
                <h5 style="text-align: center;">X-axel</h5>
                <form class="form-inline">
                    <div class="container">
                        <div class="form-group row mb-3">
                            <label for="datetimepicker1" class="col-sm">Startdatum</label>
                            <div class="input-group date col-sm" id="datetimepicker1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="datetimepicker2" class="col-sm">Slutdatum</label>
                            <div class="input-group date col-sm" id="datetimepicker2" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="numberOfDataPoints" class="col-sm">Antal mätpunkter</label>
                            <input type="number" class="form-control col-sm" id="numberOfDataPoints" min="1">
                        </div>
                    </div>
                </form>
                <h5 style="text-align: center;">Y-axel</h5>
                <form class="form-inline">
                    <div class="container">
                        <div class="form-group row mb-3">
                            <label for="yMin" class="col-sm">Minimum</label>
                            <input type="number" class="form-control col-sm" id="yMin">
                        </div>
                        <div class="form-group row mb-3">
                            <label for="yMin" class="col-sm">Maximum</label>
                            <input type="number" class="form-control col-sm" id="yMax">
                        </div>
                    </div>
                </form>
                <button id="updateScatterChart" type="button" class="btn btn-primary" onclick="setYScatter();setXScatter()">Uppdatera</button>
                <hr>
                <h5>Karta</h5>
                <div class="container">
                    <div class="row mb-2" id="mapButtonRow1">
                        <button id="addToMap" onclick="hideMap()" type="button" class="btn btn-secondary mr-2" data-toggle="button" aria-pressed="false">
                        Lägg till på karta
                        </button>
                        <div id="modalDropdownContainer" class="dropdown mr-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="modalDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                Karta
                            </button>
                            <div id="modalMapsDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                        </div>
                        <button id="removeButton" type="button" class="btn btn-secondary mr-2" onclick="currentCoordinates.mapId = null; drawDevice('modalMapImg', currentCoordinates, currentCoordinates.mapId, currentDevice)" disabled>
                            Ta bort
                        </button>
                        <button id="undoButton" type="button" class="btn btn-secondary" onclick="currentCoordinates = {x: currentDevice.position.x, y: currentDevice.position.y, mapId: currentDevice.mapId}; drawDevice('modalMapImg', currentCoordinates, currentCoordinates.mapId, currentDevice)" disabled>
                            Ångra
                        </button>
                    </div>
                    <div class="row" id="mapButtonRow2"></div>
                </div>
                <img id="modalMapImg" class="map" src="" alt="Can't load map" width="100%" style="display: none; margin-left: auto; margin-right: auto;" onclick="createDeviceOnClick(event.clientX, event.clientY)">
                <ul id="modalMapImgDevices"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                <button type="button" class="btn btn-primary" onclick="saveCurrentDevice()">Spara</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalCenterTitle">Registrera en ny enhet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="registerModalForm" class="was-validated">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="registerModalMac">MAC-adress</label>
                        <input readonly type="text" class="form-control" id="registerModalMac" placeholder="MAC-adress">
                    </div>
                    <div class="form-group">
                        <label for="registerModalOwnerInput">Enhetens ägare</label>
                        <input required type="text" class="form-control" id="registerModalOwnerInput" placeholder="Ägare">
                    </div>
                    <div class="form-group">
                        <label for="registerModalNameInput">Enhetens namn</label>
                        <input required type="text" class="form-control" id="registerModalNameInput" placeholder="Enhetsnamn">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary" id="registerButton">Registera</button>
                </div>
            </form>
        </div>
    </div>
</div>
