<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ABB IoT</title>

        <!-- Custom Bootstrap 4 -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
        <!-- DataTables -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
        <!-- Date and Time picker (Tempus Dominus) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">ABB IoT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {{#if loggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logga ut</a>
                    </li>
                    <li class="nav-item {{navactive 'overview'}}">
                        <a class="nav-link" href="/overview">Karta och IoT-enheter</a>
                    </li>
                    {{else}}
                    <li class="nav-item {{navactive 'login'}}">
                        <a class="nav-link" href="/">Logga in</a>
                    </li>
                    {{/if}}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#if loggedIn}}
                    <li class="nav-item">
                        <span class="navbar-text">
                            <small>Inloggad som: {{loginEmail}}</small>
                        </span>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        
        {{{body}}}
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Bootstrap 4 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.bundle.min.js"></script>
        <!-- DataTables -->
        <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
        <!-- Date and Time picker (Tempus Dominus) -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Custom scripts -->
        {{#each scripts}}
        <script src="{{this}}"></script>
        {{/each}}
    </body>
</html>
