@import "../node_modules/bootstrap/scss/bootstrap.scss";

li.device {
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position:absolute;
    display: block;
    left: 200px;
    top: 200px;
}
  
img.map {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.modal-custom{
    width: 70%;
    margin: auto;
}